body {
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  letter-spacing: 0.03em;

  background-color: $primary-background-color;
  color: $primary-text-color;
}
