/* Work section */
.work-section {
  padding-top: 0;
  padding-bottom: 94px;
}

.work-section__title {
  @extend %section-title;
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work-list__image {
  display: block;
}

.work-list__overlay-pic {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 70px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
}

.work-list__overlay-text {
  margin: 0;
  padding: 27px 82px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;

  color: $white-text-color;
}
