$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-text-color: #ffffff;
$black-text-color: #000000;
$link-footer-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$header-background-color: #ffffff;
$footer-background-color: #2f303a;
$border-line-color: #ececec;
$logo-border: #afb1b8;
$primary-font-family: 'Roboto', sans-serif;
$primary-font-weight: 400;
$primary-font-size: 14px;
$primary-line-height: 1.14;
