/* Button */
button {
  color: $primary-text-color;
  background-color: $secondary-background-color;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  border: 1px solid transparent;
  cursor: pointer;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero {
  color: $white-text-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
}

.button__modal {
  display: block;
  color: $white-text-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 56px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.button-list__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 22px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--current {
    background-color: $accent-color;
    color: $white-text-color;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-text-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
